

body
{
    width: 286px;
    height: 286px;
    
}

.mrow-1 {
    float: left;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    width: 100px;
    height: 100px;
}

.mrow-2 {
    float: left;
    height: 100px;
    width: 80px;
    border-bottom: 3px solid black;
}

.mrow-3
{
    float: left;
    height: 100px;
    width: 80px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.mrow-4
{
    float: left;
    height: 100px;
    width: 20px;
    border-bottom: 3px solid black;
}

.mrow-5
{
    clear: both;
    float: left;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    width: 100px;
    height: 100px;
}

.mrow-6
{
    float: left;
    height: 103px;
    width: 80px;
    border-right: 3px solid black;
}

.mrow-7
{
    float: left;
    height: 50px;
    width: 51px;
    border-bottom: 3px solid black;
    
}

.mrow-8
{
    border-right: 3px solid black;
    float: left;
    height: 50px;
    width: 26px;
    border-bottom: 3px solid black;
}

.mrow-9
{
    float: left;
    height: 50px;
    width: 20px;
    border-bottom: 3px solid black;
}

.mrow-10
{
    clear: both;
    float: left;
    height: 80px;
    width: 100px;
    border-right: 3px solid black;
    
}

.mrow-11
{
    float: left;
    height: 80px;
    width: 80px;
    border-right: 3px solid black;
}

.mrow-12
{
    float: right;
    width: 100px;
    height: 130px;
    margin-top: -50px;
}

.mrow-1 .row-1
{
    float: left;
}
.mrow-1 .row-2
{
    float: left;
}
.mrow-1 .row-3
{
    float: left;
}

.mrow-3 .row-1
{
    float: left;
}
.mrow-3 .row-2
{
    float: left;
}

.mrow-3 .row-1 .r1
{
    float: left;
}
.mrow-3 .row-1 .r2
{
    float: left;
}
.mrow-3 .row-1 .r3
{
    clear: both;
}

.mrow-6 .row-1{
    float: left;
}
.mrow-6 .row-2{
    float: left;
}

.mrow-10 .row-1{
    float: left;
}

.mrow-10 .row-2{
    float: left;
}

.mrow-10 .row-3{
    float: left;
}

.mrow-12 .row-1{
    float: left;
}

.mrow-12 .row-2{
    float: left;
}


.mrow-12 .row-3{
    clear: both;
}

.col-1
{
    background: white;
    height: 70px;
    width: 30px;
    border-bottom: 1px solid black;
    border-right: 3px solid black;
}

.col-2
{
    background: wheat;
    height: 30px;
    width: 30px;
    border-right: 3px solid black;
}

.col-3
{
    background: wheat;
    height: 34px;
    width: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.col-4
{
    background: wheat;
    height: 35px;
    width: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.col-5
{
    background: white;
    height: 30px;
    width: 30px;
    border-right: 1px solid black;
    
}

.col-6
{

    background: wheat;
    height: 34px;
    border-bottom: 1px solid black;
}
.col-7
{
    background: black;
    height: 65px;
    
}

.col-8
{
    background: white;
    height: 34px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.col-9
{
    background: lightblue;
    height: 65px;
    border-right: 1px solid black;
}

.col-10
{
    background: lightyellow;
    height: 50px;
    width: 30px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.col-11
{
    background: yellow;
    height: 20px;
    width: 30px;
    
    border-right: 1px solid black;
}
.col-12
{
    background: white;
    border-right: 1px solid black;
    height: 71px;
    width: 19px;
}

.col-13
{
    background: lightyellow;
    height: 27px;
    width: 50px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.col-14
{
    background: #a03131;
    height: 100px;

}

.col-15
{
    background: wheat;
    height: 100px;
}

.col-16
{
    background: wheat;
    border-bottom: 1px solid black;
    height: 33px;
}

.col-17
{
    background: lightblue;
    border-bottom: 1px solid black;
    height: 33px;
}

.col-18
{
    background: black;
    height: 33px;
   
}

.col-19
{
    background: wheat;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 102px;
    width: 40px;
}

.col-20
{
    background: wheat;
    border-bottom: 1px solid black;
    height: 20px;
    width: 39px;
}

.col-21
{
    background: yellow;
    height: 81px;
    width: 39px;
    border-bottom: 1px solid black;
}

.col-22
{
    background: black;
    width: 50px;
    height: 25px;
    border-right: 1px solid black;
}
.col-23
{
    background: wheat;
    width: 50px;
    height: 25px;
    border-right: 1px solid black;
}


.col-24
{
    background: black; 
    height: 25px;
    
}
.col-25
{
    background: wheat;
    height: 25px;
}
.col-26
{
    background: white;
    height: 24px;
    border-bottom: 1px solid black ;
}
.col-27
{
    background: wheat;
    height: 25px;
}
.col-28
{
    height: 80px;
    background: white;
    border-right: 3px solid black;
    width: 30px;
}
.col-29
{
    height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black ;
    width: 36px;
    background: #a03131;
}
.col-30{
    height: 59px;
    background: yellow;
    border-right: 1px solid black;
}

.col-31
{
    background: wheat;
    height: 80px;
    width: 30px;
}

.col-32{
background: white;
height: 80px;
}

.col-321
{
    background: #a03131;
    height: 80px;
    border-bottom: 1px solid black ;
    border-right: 1px solid black;
    width: 36px;
}

.col-33{
    background: yellow;
    width: 63px;
    height: 40px;
    border-bottom: 3px solid black ;
}
.col-34
{
    background: lightblue;
    height: 37px;
    border-bottom: 1px solid black ;

}
.col-35
{
    background: wheat;
    height: 49px;
}