.upperDiv
{
    border: 2px solid grey;
    padding: 5px;
    width: 400px;
}

.upperDiv img
{
    width: 12px;
    height: 12px;
}

.icons img
{
    width: 15px;
    height: 15px;
}

.downDiv
{
    width: 390px;
    border: 2px solid grey;
    padding: 10px;
    padding-bottom: 20px;

}

.downDiv div span{
    display: block;
    
}

.msg
{
    padding: 2px;
    font-size: 20px;
}

#img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
}

.profile
{
    display: block;
    margin-top: 20px;
    margin-bottom: 80px;
}

.info
{
    float: left;
    margin-left: 15px;
    
}

.hist
{
    color: gray;
    font-size: 12px;
}

.icons
{
    clear: both;
    padding: 5px;
}

#icon{
    float: left;
    padding-right: 10px;
}

#lsticon
{
    float: right;
    margin-right: 20px;
}

#num
{
    float: right;
    margin-right: -40px;
    font-size: 15px;
    color: gray;
}

