*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
}
article{
    display: flex;
    flex-direction: column;
    width: 1168px;
    margin: auto;
}

article .container{
    display: block;
    background-color: #ECF0F1;
    width: 1170px;
    height: 800px;
    margin-bottom: 44px;
}
article header{
    border-bottom: 1px solid #707070;
    
}

article header h1{
    font-family: 'Roboto';
    font-size: 36px;
    color: #2C3E50;
    margin-left: -0.5px;
    margin-left: 1.5px;
    margin-bottom: 13px;
}
article header p {
    margin-bottom: 28.6px;

}

article header p span {
    font-family: 'Roboto';
    font-size: 14px;
    color: #A1B1BC;
    margin-right: 1px;
    margin-left: 1px;
    
}
article header p span:last-child {
margin-right: 0px;
}
article header p span::after{
    display: inline-block;
    content: '';
    background-color: #A1B1BC;
    width: 1px;
    height: 9px;
    margin-top: 1.5px;
    margin-right: 5px;
    margin-left: 12px;
}
article header p span:last-child::after{
    display: none;
}

article .text-1{
    color : #A1B1BC;
    font-family: 'Roboto';
    font-size: 14px;
    margin-top: 24px;
    margin-left: 1px;
    line-height: 23px;
    width: 1170px;
}
article .comment{
    border: 1px solid #707070;
    border-left: 8px solid #21C2F8;
    margin-left: 32px;
    padding-right: 186px;
    margin-top: 38px;
    margin-bottom: 29px;
}
article .comment h3{
    margin-top: 39px;
    color: #A1B1BC;
    font-family: 'Roboto';
    font-size: 24px;
    padding-left: 61px;
}
article .comment span {
    color: #A1B1BC;
    font-family: 'Roboto';
    font-size: 16px;
    padding-left: 61px;
    display: block;
    margin-top: 10px;
    margin-bottom: 36px;
    line-height: 24px;
}
article .text-2
{
    color : #A1B1BC;
    font-family: 'Roboto';
    font-size: 14px;
    margin-bottom: 36px;
}
article .text-2 .first-letter{
    background-color: #2C3E50;
    color: #21C2F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-right: 5px;
    float: left;
    width: 40px;
    height: 40px;
    padding-left: 12px;
    padding-top: 6px;
    margin-left: 2px;
    margin-top: 6px;
    margin-right: 5px;
}
article .text-2 .lower{
    float: right;
    margin-left: 3px;
    margin-top: 0.5px;
    line-height: 22px;
}
article .text-2 .upper{
    clear: both;
    line-height: 24px;
}
article .text-3 h2 {
    color : #34495E;
    font-family: 'Roboto';
    font-size: 30px;
    margin-bottom: 14.4px;
    margin-left: 2px;
}
article .text-3 span {
    color: #A1B1BC;
    font-family: 'Roboto';
    font-size: 14px;
    margin-top: -2px;
    margin-left: 2px;
    line-height: 23px;
    display: block;
}